In [1]:
#pip install requests

In [2]:
import pandas as pd
import requests

In [3]:

#GET /{lang}/datos/{category}/{widget}?[query]

In [4]:
lang = "es"
category = "generacion"
widget = "evolucion-renovable-no-renovable"
fecha_inicio = "2016-01-01T00:00"
fecha_fin = "2020-12-31T00:00"

query = f"start_date={fecha_inicio}&end_date={fecha_fin}&time_trunc=year"

In [5]:
url = "https://apidatos.ree.es/es/datos/generacion/evolucion-renovable-no-renovable?start_date=2016-01-01T00:00&end_date=2020-01-31T23:59&time_trunc=year"

res = requests.get(url)
res.status_code

200

In [6]:
#url = f"https://apidatos.ree.es/{lang}/datos/{category}/{widget}?{query}"


# Utilizando el método request pasamosla url y guardamos la respuesta en una variable 

#res = requests.get(url)
#res.status_code

In [7]:
res_api = res.json()
res_api

{'data': {'type': 'Evolución de la generación renovable/no renovable',
  'id': 'gen2',
  'attributes': {'title': 'Evolución de la generación renovable/no renovable',
   'last-update': '2019-06-12T16:43:20.000+02:00',
   'description': None},
  'meta': {'cache-control': {'cache': 'HIT',
    'expireAt': '2023-12-05T16:47:07'}}},
 'included': [{'type': 'Renovable',
   'id': '10299',
   'groupId': None,
   'attributes': {'title': 'Renovable',
    'description': 'Energía renovable: incluye hidráulica, hidroeólica, eólica, solar fotovoltaica, solar térmica, otras renovables y residuos renovables.',
    'color': '#92d050',
    'type': 'Renovable',
    'magnitude': None,
    'composite': False,
    'last-update': '2019-06-12T16:43:20.000+02:00',
    'values': [{'value': 101089169.1845004,
      'percentage': 0.3860786457529761,
      'datetime': '2016-01-01T00:00:00.000+01:00'},
     {'value': 84610866.487,
      'percentage': 0.32256579914122496,
      'datetime': '2017-01-01T00:00:00.000+01:00'},
     {'value': 100344405.2130003,
      'percentage': 0.38448798337897666,
      'datetime': '2018-01-01T00:00:00.000+01:00'},
     {'value': 97913298.8200003,
      'percentage': 0.3753929209351504,
      'datetime': '2019-01-01T00:00:00.000+01:00'},
     {'value': 9468207.515,
      'percentage': 0.4163078791435909,
      'datetime': '2020-01-01T00:00:00.000+01:00'}]}},
  {'type': 'No renovable',
   'id': '10298',
   'groupId': None,
   'attributes': {'title': 'No renovable',
    'description': None,
    'color': '#666666',
    'type': 'No renovable',
    'magnitude': None,
    'composite': False,
    'last-update': '2019-06-12T16:43:20.000+02:00',
    'values': [{'value': 160746522.3165003,
      'percentage': 0.6139213542470239,
      'datetime': '2016-01-01T00:00:00.000+01:00'},
     {'value': 177694891.6319997,
      'percentage': 0.6774342008587749,
      'datetime': '2017-01-01T00:00:00.000+01:00'},
     {'value': 160637496.8249998,
      'percentage': 0.6155120166210234,
      'datetime': '2018-01-01T00:00:00.000+01:00'},
     {'value': 162915537.7390006,
      'percentage': 0.6246070790648495,
      'datetime': '2019-01-01T00:00:00.000+01:00'},
     {'value': 13275074.535,
      'percentage': 0.5836921208564091,
      'datetime': '2020-01-01T00:00:00.000+01:00'}]}}]}

In [8]:
type(res_api)

dict

In [9]:
# Para ver lo que nos devuelve el response lo mas efectivo es analizar las claves del diccionario 

res_api.keys()

dict_keys(['data', 'included'])

Keys del diccionario

In [10]:
res_api['data']

{'type': 'Evolución de la generación renovable/no renovable',
 'id': 'gen2',
 'attributes': {'title': 'Evolución de la generación renovable/no renovable',
  'last-update': '2019-06-12T16:43:20.000+02:00',
  'description': None},
 'meta': {'cache-control': {'cache': 'HIT',
   'expireAt': '2023-12-05T16:47:07'}}}

In [11]:
res_api['included']  #RENOVABLE Y NO RENOVABLE, contiene las 2

[{'type': 'Renovable',
  'id': '10299',
  'groupId': None,
  'attributes': {'title': 'Renovable',
   'description': 'Energía renovable: incluye hidráulica, hidroeólica, eólica, solar fotovoltaica, solar térmica, otras renovables y residuos renovables.',
   'color': '#92d050',
   'type': 'Renovable',
   'magnitude': None,
   'composite': False,
   'last-update': '2019-06-12T16:43:20.000+02:00',
   'values': [{'value': 101089169.1845004,
     'percentage': 0.3860786457529761,
     'datetime': '2016-01-01T00:00:00.000+01:00'},
    {'value': 84610866.487,
     'percentage': 0.32256579914122496,
     'datetime': '2017-01-01T00:00:00.000+01:00'},
    {'value': 100344405.2130003,
     'percentage': 0.38448798337897666,
     'datetime': '2018-01-01T00:00:00.000+01:00'},
    {'value': 97913298.8200003,
     'percentage': 0.3753929209351504,
     'datetime': '2019-01-01T00:00:00.000+01:00'},
    {'value': 9468207.515,
     'percentage': 0.4163078791435909,
     'datetime': '2020-01-01T00:00:00.000+01:00'}]}},
 {'type': 'No renovable',
  'id': '10298',
  'groupId': None,
  'attributes': {'title': 'No renovable',
   'description': None,
   'color': '#666666',
   'type': 'No renovable',
   'magnitude': None,
   'composite': False,
   'last-update': '2019-06-12T16:43:20.000+02:00',
   'values': [{'value': 160746522.3165003,
     'percentage': 0.6139213542470239,
     'datetime': '2016-01-01T00:00:00.000+01:00'},
    {'value': 177694891.6319997,
     'percentage': 0.6774342008587749,
     'datetime': '2017-01-01T00:00:00.000+01:00'},
    {'value': 160637496.8249998,
     'percentage': 0.6155120166210234,
     'datetime': '2018-01-01T00:00:00.000+01:00'},
    {'value': 162915537.7390006,
     'percentage': 0.6246070790648495,
     'datetime': '2019-01-01T00:00:00.000+01:00'},
    {'value': 13275074.535,
     'percentage': 0.5836921208564091,
     'datetime': '2020-01-01T00:00:00.000+01:00'}]}}]

In [12]:
res_api['included'][0]   #RENOVABLE

{'type': 'Renovable',
 'id': '10299',
 'groupId': None,
 'attributes': {'title': 'Renovable',
  'description': 'Energía renovable: incluye hidráulica, hidroeólica, eólica, solar fotovoltaica, solar térmica, otras renovables y residuos renovables.',
  'color': '#92d050',
  'type': 'Renovable',
  'magnitude': None,
  'composite': False,
  'last-update': '2019-06-12T16:43:20.000+02:00',
  'values': [{'value': 101089169.1845004,
    'percentage': 0.3860786457529761,
    'datetime': '2016-01-01T00:00:00.000+01:00'},
   {'value': 84610866.487,
    'percentage': 0.32256579914122496,
    'datetime': '2017-01-01T00:00:00.000+01:00'},
   {'value': 100344405.2130003,
    'percentage': 0.38448798337897666,
    'datetime': '2018-01-01T00:00:00.000+01:00'},
   {'value': 97913298.8200003,
    'percentage': 0.3753929209351504,
    'datetime': '2019-01-01T00:00:00.000+01:00'},
   {'value': 9468207.515,
    'percentage': 0.4163078791435909,
    'datetime': '2020-01-01T00:00:00.000+01:00'}]}}

In [13]:
res_api['included'][0].keys()

dict_keys(['type', 'id', 'groupId', 'attributes'])

In [14]:
res_api['included'][0]["attributes"]

{'title': 'Renovable',
 'description': 'Energía renovable: incluye hidráulica, hidroeólica, eólica, solar fotovoltaica, solar térmica, otras renovables y residuos renovables.',
 'color': '#92d050',
 'type': 'Renovable',
 'magnitude': None,
 'composite': False,
 'last-update': '2019-06-12T16:43:20.000+02:00',
 'values': [{'value': 101089169.1845004,
   'percentage': 0.3860786457529761,
   'datetime': '2016-01-01T00:00:00.000+01:00'},
  {'value': 84610866.487,
   'percentage': 0.32256579914122496,
   'datetime': '2017-01-01T00:00:00.000+01:00'},
  {'value': 100344405.2130003,
   'percentage': 0.38448798337897666,
   'datetime': '2018-01-01T00:00:00.000+01:00'},
  {'value': 97913298.8200003,
   'percentage': 0.3753929209351504,
   'datetime': '2019-01-01T00:00:00.000+01:00'},
  {'value': 9468207.515,
   'percentage': 0.4163078791435909,
   'datetime': '2020-01-01T00:00:00.000+01:00'}]}

In [15]:
res_api['included'][0]["attributes"].keys()

dict_keys(['title', 'description', 'color', 'type', 'magnitude', 'composite', 'last-update', 'values'])

In [16]:
Renovable = res_api['included'][0]["attributes"]["values"]
Renovable

[{'value': 101089169.1845004,
  'percentage': 0.3860786457529761,
  'datetime': '2016-01-01T00:00:00.000+01:00'},
 {'value': 84610866.487,
  'percentage': 0.32256579914122496,
  'datetime': '2017-01-01T00:00:00.000+01:00'},
 {'value': 100344405.2130003,
  'percentage': 0.38448798337897666,
  'datetime': '2018-01-01T00:00:00.000+01:00'},
 {'value': 97913298.8200003,
  'percentage': 0.3753929209351504,
  'datetime': '2019-01-01T00:00:00.000+01:00'},
 {'value': 9468207.515,
  'percentage': 0.4163078791435909,
  'datetime': '2020-01-01T00:00:00.000+01:00'}]

*** Now with NO RENOVABLE ***

In [17]:
res_api['included'][1]   #NO RENOVABLE

{'type': 'No renovable',
 'id': '10298',
 'groupId': None,
 'attributes': {'title': 'No renovable',
  'description': None,
  'color': '#666666',
  'type': 'No renovable',
  'magnitude': None,
  'composite': False,
  'last-update': '2019-06-12T16:43:20.000+02:00',
  'values': [{'value': 160746522.3165003,
    'percentage': 0.6139213542470239,
    'datetime': '2016-01-01T00:00:00.000+01:00'},
   {'value': 177694891.6319997,
    'percentage': 0.6774342008587749,
    'datetime': '2017-01-01T00:00:00.000+01:00'},
   {'value': 160637496.8249998,
    'percentage': 0.6155120166210234,
    'datetime': '2018-01-01T00:00:00.000+01:00'},
   {'value': 162915537.7390006,
    'percentage': 0.6246070790648495,
    'datetime': '2019-01-01T00:00:00.000+01:00'},
   {'value': 13275074.535,
    'percentage': 0.5836921208564091,
    'datetime': '2020-01-01T00:00:00.000+01:00'}]}}

In [18]:
res_api['included'][1].keys()

dict_keys(['type', 'id', 'groupId', 'attributes'])

In [19]:
res_api['included'][1]["attributes"]

{'title': 'No renovable',
 'description': None,
 'color': '#666666',
 'type': 'No renovable',
 'magnitude': None,
 'composite': False,
 'last-update': '2019-06-12T16:43:20.000+02:00',
 'values': [{'value': 160746522.3165003,
   'percentage': 0.6139213542470239,
   'datetime': '2016-01-01T00:00:00.000+01:00'},
  {'value': 177694891.6319997,
   'percentage': 0.6774342008587749,
   'datetime': '2017-01-01T00:00:00.000+01:00'},
  {'value': 160637496.8249998,
   'percentage': 0.6155120166210234,
   'datetime': '2018-01-01T00:00:00.000+01:00'},
  {'value': 162915537.7390006,
   'percentage': 0.6246070790648495,
   'datetime': '2019-01-01T00:00:00.000+01:00'},
  {'value': 13275074.535,
   'percentage': 0.5836921208564091,
   'datetime': '2020-01-01T00:00:00.000+01:00'}]}

In [20]:
res_api['included'][1]["attributes"].keys()

dict_keys(['title', 'description', 'color', 'type', 'magnitude', 'composite', 'last-update', 'values'])

In [21]:
res_api['included'][1]["attributes"]["values"]

[{'value': 160746522.3165003,
  'percentage': 0.6139213542470239,
  'datetime': '2016-01-01T00:00:00.000+01:00'},
 {'value': 177694891.6319997,
  'percentage': 0.6774342008587749,
  'datetime': '2017-01-01T00:00:00.000+01:00'},
 {'value': 160637496.8249998,
  'percentage': 0.6155120166210234,
  'datetime': '2018-01-01T00:00:00.000+01:00'},
 {'value': 162915537.7390006,
  'percentage': 0.6246070790648495,
  'datetime': '2019-01-01T00:00:00.000+01:00'},
 {'value': 13275074.535,
  'percentage': 0.5836921208564091,
  'datetime': '2020-01-01T00:00:00.000+01:00'}]

In [22]:
No_Renovable = res_api['included'][1]["attributes"]["values"]

### TRANSFORMACION DE LOS DATOS

DF ENERGIA RENOVABLE 

Energía renovable: incluye hidráulica, hidroeólica, eólica, solar fotovoltaica, solar térmica, otras renovables y residuos renovables

In [23]:
df_renovable = pd.DataFrame(Renovable)  #DF ENERGIA RENOVABLE 
df_renovable

          value  percentage                       datetime
0  1.010892e+08    0.386079  2016-01-01T00:00:00.000+01:00
1  8.461087e+07    0.322566  2017-01-01T00:00:00.000+01:00
2  1.003444e+08    0.384488  2018-01-01T00:00:00.000+01:00
3  9.791330e+07    0.375393  2019-01-01T00:00:00.000+01:00
4  9.468208e+06    0.416308  2020-01-01T00:00:00.000+01:00

In [24]:
df_renovable['datetime'] = pd.to_datetime(df_renovable['datetime'])   # Convertir la columna 'datetime' a tipo de datos datetime

df_renovable['year'] = df_renovable['datetime'].dt.year  # Extraer el año y asignarlo a una nueva columna 'year'

df = df_renovable.drop(columns=['datetime']) # Elimino la columna 'datetime' original

In [25]:
df_renovable = df
df_renovable

          value  percentage  year
0  1.010892e+08    0.386079  2016
1  8.461087e+07    0.322566  2017
2  1.003444e+08    0.384488  2018
3  9.791330e+07    0.375393  2019
4  9.468208e+06    0.416308  2020

In [26]:
'''
def format_decimal(number):          # Función para formatear los números en notación decimal estándar

    return '{:,}'.format(int(number))  # Formatea el número con puntos y comas        

# Aplicar la función a la columna
df_renovable['value'] = df_renovable['value'].apply(format_decimal)

df_renovable
'''

"\ndef format_decimal(number):          # Función para formatear los números en notación decimal estándar\n\n    return '{:,}'.format(int(number))  # Formatea el número con puntos y comas        \n\n# Aplicar la función a la columna\ndf_renovable['value'] = df_renovable['value'].apply(format_decimal)\n\ndf_renovable\n"

In [27]:
df_renovable = df_renovable.rename(columns={'percentage': 'renewable_energy_percentage'}) #RENOMBRAR COLUMNA 
df_renovable = df_renovable.rename(columns={'value': 'total_renewable_energy'})
df_renovable

   total_renewable_energy  renewable_energy_percentage  year
0            1.010892e+08                     0.386079  2016
1            8.461087e+07                     0.322566  2017
2            1.003444e+08                     0.384488  2018
3            9.791330e+07                     0.375393  2019
4            9.468208e+06                     0.416308  2020

In [28]:
df_renovable['iso_code'] = 'ESP' 
df_renovable['country'] = 'Spain' #AÑADIR COLUMNA Y VALOR   
 
df_renovable

   total_renewable_energy  renewable_energy_percentage  year iso_code country
0            1.010892e+08                     0.386079  2016      ESP   Spain
1            8.461087e+07                     0.322566  2017      ESP   Spain
2            1.003444e+08                     0.384488  2018      ESP   Spain
3            9.791330e+07                     0.375393  2019      ESP   Spain
4            9.468208e+06                     0.416308  2020      ESP   Spain

In [29]:
df_renovable.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   total_renewable_energy       5 non-null      float64
 1   renewable_energy_percentage  5 non-null      float64
 2   year                         5 non-null      int32
 3   iso_code                     5 non-null      object
 4   country                      5 non-null      object
dtypes: float64(2), int32(1), object(2)
memory usage: 842.0 bytes

DF ENERGIA NO RENOVABLE

In [30]:
df_no_renovable = pd.DataFrame(No_Renovable)  #DF ENERGIA NO RENOVABLE 
df_no_renovable

          value  percentage                       datetime
0  1.607465e+08    0.613921  2016-01-01T00:00:00.000+01:00
1  1.776949e+08    0.677434  2017-01-01T00:00:00.000+01:00
2  1.606375e+08    0.615512  2018-01-01T00:00:00.000+01:00
3  1.629155e+08    0.624607  2019-01-01T00:00:00.000+01:00
4  1.327507e+07    0.583692  2020-01-01T00:00:00.000+01:00

In [31]:
df_no_renovable['datetime'] = pd.to_datetime(df_no_renovable['datetime'])   # Convertir la columna 'datetime' a tipo de datos datetime

df_no_renovable['year'] = df_no_renovable['datetime'].dt.year  # Extraer el año y asignarlo a una nueva columna 'year'

df = df_no_renovable.drop(columns=['datetime']) # Elimino la columna 'datetime' original

df_no_renovable = df

df_no_renovable

          value  percentage  year
0  1.607465e+08    0.613921  2016
1  1.776949e+08    0.677434  2017
2  1.606375e+08    0.615512  2018
3  1.629155e+08    0.624607  2019
4  1.327507e+07    0.583692  2020

In [32]:
'''
def format_decimal(number):          # Función para formatear los números en notación decimal estándar

    return '{:,}'.format(int(number))  # Formatea el número con puntos y comas        

# Aplico la función a la columna
df_no_renovable['value'] = df_no_renovable['value'].apply(format_decimal)

df_no_renovable

'''

"\ndef format_decimal(number):          # Función para formatear los números en notación decimal estándar\n\n    return '{:,}'.format(int(number))  # Formatea el número con puntos y comas        \n\n# Aplico la función a la columna\ndf_no_renovable['value'] = df_no_renovable['value'].apply(format_decimal)\n\ndf_no_renovable\n\n"

In [33]:
df_no_renovable = df_no_renovable.rename(columns={'percentage': 'fossil_energy_percentage'}) #RENOMBRAR COLUMNA 
df_no_renovable = df_no_renovable.rename(columns={'value': 'total_fossil_energy'})

In [34]:
df_no_renovable

   total_fossil_energy  fossil_energy_percentage  year
0         1.607465e+08                  0.613921  2016
1         1.776949e+08                  0.677434  2017
2         1.606375e+08                  0.615512  2018
3         1.629155e+08                  0.624607  2019
4         1.327507e+07                  0.583692  2020

In [35]:
df_no_renovable['iso_code'] = 'ESP' 
df_no_renovable['country'] = 'Spain' 
 
df_no_renovable

   total_fossil_energy  fossil_energy_percentage  year iso_code country
0         1.607465e+08                  0.613921  2016      ESP   Spain
1         1.776949e+08                  0.677434  2017      ESP   Spain
2         1.606375e+08                  0.615512  2018      ESP   Spain
3         1.629155e+08                  0.624607  2019      ESP   Spain
4         1.327507e+07                  0.583692  2020      ESP   Spain

In [36]:
df_energy_API = df_renovable.merge(df_no_renovable, on=['year', 'iso_code', 'country'], how='inner')
df_energy_API

,total_renewable_energy,renewable_energy_percentage,year,iso_code,country,total_fossil_energy,fossil_energy_percentage
0,1.010892e+08,0.386079,2016,ESP,Spain,1.607465e+08,0.613921
1,8.461087e+07,0.322566,2017,ESP,Spain,1.776949e+08,0.677434
2,1.003444e+08,0.384488,2018,ESP,Spain,1.606375e+08,0.615512
3,9.791330e+07,0.375393,2019,ESP,Spain,1.629155e+08,0.624607
4,9.468208e+06,0.416308,2020,ESP,Spain,1.327507e+07,0.583692

In [37]:
column_order = ['iso_code', 'country', 'year', 'total_fossil_energy', 'total_renewable_energy', 'fossil_energy_percentage', 'renewable_energy_percentage']  # cambio el orden de las columnas
df_energy_API = df_energy_API[column_order]
df_energy_API

,iso_code,country,year,total_fossil_energy,total_renewable_energy,fossil_energy_percentage,renewable_energy_percentage
0,ESP,Spain,2016,1.607465e+08,1.010892e+08,0.613921,0.386079
1,ESP,Spain,2017,1.776949e+08,8.461087e+07,0.677434,0.322566
2,ESP,Spain,2018,1.606375e+08,1.003444e+08,0.615512,0.384488
3,ESP,Spain,2019,1.629155e+08,9.791330e+07,0.624607,0.375393
4,ESP,Spain,2020,1.327507e+07,9.468208e+06,0.583692,0.416308

In [38]:
df_energy_API.to_csv('../data/clean_api_ree.csv', index=False)

In [39]:
df_energy_API

,iso_code,country,year,total_fossil_energy,total_renewable_energy,fossil_energy_percentage,renewable_energy_percentage
0,ESP,Spain,2016,1.607465e+08,1.010892e+08,0.613921,0.386079
1,ESP,Spain,2017,1.776949e+08,8.461087e+07,0.677434,0.322566
2,ESP,Spain,2018,1.606375e+08,1.003444e+08,0.615512,0.384488
3,ESP,Spain,2019,1.629155e+08,9.791330e+07,0.624607,0.375393
4,ESP,Spain,2020,1.327507e+07,9.468208e+06,0.583692,0.416308

### Now we upload our file to MongoDB

In [40]:
%pip install pymongo

Requirement already satisfied: pymongo in c:\users\abeln\appdata\local\anaconda3\envs\env1\lib\site-packages (4.5.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\abeln\appdata\local\anaconda3\envs\env1\lib\site-packages (from pymongo) (2.4.2)

In [41]:
from pymongo import MongoClient

In [42]:
str_conn = 'mongodb://localhost:27017'   # str_con por defecto

cursor = MongoClient(str_conn)

cursor

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [43]:
cursor.list_database_names() # asi veo que bases de datos tengo en Mongo

['Companies', 'admin', 'config', 'energy_db', 'local']

In [54]:
db = cursor['energy_db']

In [55]:
colec = db.create_collection('API') #nueva coleccion

In [46]:
dictio = df_energy_API.to_dict(orient='records')

In [47]:
dictio

[{'iso_code': 'ESP',
  'country': 'Spain',
  'year': 2016,
  'total_fossil_energy': 160746522.3165003,
  'total_renewable_energy': 101089169.1845004,
  'fossil_energy_percentage': 0.6139213542470239,
  'renewable_energy_percentage': 0.3860786457529761},
 {'iso_code': 'ESP',
  'country': 'Spain',
  'year': 2017,
  'total_fossil_energy': 177694891.6319997,
  'total_renewable_energy': 84610866.487,
  'fossil_energy_percentage': 0.6774342008587749,
  'renewable_energy_percentage': 0.32256579914122496},
 {'iso_code': 'ESP',
  'country': 'Spain',
  'year': 2018,
  'total_fossil_energy': 160637496.8249998,
  'total_renewable_energy': 100344405.2130003,
  'fossil_energy_percentage': 0.6155120166210234,
  'renewable_energy_percentage': 0.38448798337897666},
 {'iso_code': 'ESP',
  'country': 'Spain',
  'year': 2019,
  'total_fossil_energy': 162915537.7390006,
  'total_renewable_energy': 97913298.8200003,
  'fossil_energy_percentage': 0.6246070790648495,
  'renewable_energy_percentage': 0.3753929209351504},
 {'iso_code': 'ESP',
  'country': 'Spain',
  'year': 2020,
  'total_fossil_energy': 13275074.535,
  'total_renewable_energy': 9468207.515,
  'fossil_energy_percentage': 0.5836921208564091,
  'renewable_energy_percentage': 0.4163078791435909}]

In [56]:
colec.insert_many(dictio)